/* @theme custom-theme */

section {
  font-family: 'Arial';
}

footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  color: #444;
}

[data-email]::after {
  content: attr(data-email);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  color: #777;
}
